/* #home { */
/*     background: linear-gradient(222deg, #15ce9e, #8e53e1, #369bb2, #15ce9e); */
/*     background-size: 800% 800%; */

/*     -webkit-animation: gradient-background 15s ease infinite; */
/*     -moz-animation: gradient-background 15s ease infinite; */
/*     animation: gradient-background 15s ease infinite; */
/* } */

/* @-webkit-keyframes gradient-background { */
/*     0%{background-position:99% 0%} */
/*     50%{background-position:2% 100%} */
/*     100%{background-position:99% 0%} */
/* } */
/* @-moz-keyframes gradient-background { */
/*     0%{background-position:99% 0%} */
/*     50%{background-position:2% 100%} */
/*     100%{background-position:99% 0%} */
/* } */
/* @keyframes gradient-background { */
/*     0%{background-position:99% 0%} */
/*     50%{background-position:2% 100%} */
/*     100%{background-position:99% 0%} */
/* } */


html,body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

#nav-left {
    display: flex;
    align-items: center;
}

#nav-right {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 20px;
    height: 20px;
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
}


/* Home Page */

#banner-container {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 200px 0px;
    /* background: blue; */
}

#channel-container {
    width: 60%;
    margin: auto;
    padding: 100px 0px;
}

#channel-container>h2 {
    text-align: center;
}

#channel-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

#channel-row>.column {
    padding: 15px;
    overflow: hidden;
    height: 500px;
    width: 250px;
}


/* Channels */

#channel-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 100px 0px;
}

#threads-container {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
}

#post-thread-form {
    width: 500px;
}

#post-thread-form>form>fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#post-thread-form>form>fieldset>input,textarea {
    width: 100%;
}

.thread {
    width: 250px;
    height: 300px;
    padding: 20px;
    margin: 5px;
    background: #ddd;
    border: solid 1px blue;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    height: 500px;
}

.thread-thumbnail {
    width: 200px;
    height: auto;
}


/* Threads */

#initial-thread {
    display: flex;
    flex-direction: row;
    /* background: yellow; */
}

.post {
    display: flex;
    flex-direction: row;
    background: #ddd;
    border: solid 1px blue;
    margin: 10px;
    padding: 15px;
}

.post-thumbnail {
    height: 300px;
    width: auto;
}

.post-content {
    /* background: green; */
}

.post-info {
    /* background: lightgreen; */
}

.post-text {
    margin: 15px 30px;
}

.post-text>p {
    margin: 0;
    padding: 0;
}

.post-title {
    display: inline;
    color: blue;
    text-weight: bold;
}

.post-author {
    display: inline;
    color: red;
}

.post-date {
    display: inline;
    color: purple;
}

.post-id {
    display: inline;
    color: green;
}


/* Custom CSS Controller */

#custom-css-controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-css-container {
    width: 500px;
    height: 500px;
    padding: 10px;
    background: #eee;
    opacity: 100%;
    display: flex;
    flex-direction: column;
}

#custom-css-container>* {
    margin: 10px 0px;
}

#custom-css-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#custom-css-mode {
    display: flex;
}

.custom-css-mode-switch {
    border: 1px solid blue;
    border-radius: 0;
    background: white;
    color: blue;
    padding: 7px;
}

.active-mode {
    background: blue;
    color: white;
    border: 1px solid white;
}

#custom-css-area {
    padding: 0px;
    margin: 0;
}


/* Custom JS Controller */

#custom-js-controller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-js-container {
    width: 500px;
    height: 500px;
    padding: 10px;
    background: #eee;
    opacity: 100%;
    display: flex;
    flex-direction: column;
}

#custom-js-container>* {
    margin: 10px 0px;
}

#custom-js-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#custom-js-mode {
    display: flex;
}

.custom-js-mode-switch {
    border: 1px solid blue;
    border-radius: 0;
    background: white;
    color: blue;
    padding: 7px;
}

.active-mode {
    background: blue;
    color: white;
    border: 1px solid white;
}

#custom-js-area {
    padding: 0px;
    margin: 0;
}
