{% load static %}
<html>
  <head>
    <title>{{name}} - {{desc}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
  </head>
  <body id="channel">
    <nav>
      <div id="nav-left">
	<a class="hidden" href="#"><img class="nav-icon" src="{% static 'main/icons/sun.png' %}" alt="sun"/></a>
	<a href="#"><img class="nav-icon" src="{% static 'main/icons/moon.png' %}" alt="moon"/></a>
	<a href="#">[Custom CSS]</a>
	<a href="#">[Custom JS]</a>
      </div>
      <div id="nav-right">
	<a href="/create-account">[Create Account]</a>
	<a href="/log-in">[Log In]</a>
      </div>
    </nav>
    <div id="channel-banner">
      <h1>/{{name}}/ - {{desc}}</h1>
      <h3 class="text-center"><a href="#">[Make Thread]</a></h3>
    </div>
    <div id="threads-container">
      {% for thread in threads %}
      <div class="thread">
	<a href="/{{name}}/thread/{{thread.thread_id}}">
	<img src="{% static 'main/images/circle.png' %}" class="thread-thumbnail" alt="circle"/>
	</a><br>
	<a href="/{{name}}/thread/{{thread.thread_id}}">
	  {{thread.thread_title}}
	</a><br>
	By {{thread.thread_author}}<br>
	{{thread.thread_content}}
      </div>
      {% endfor %}
    </div>
    <script src="{% static 'main/dynamic.js' %}"></script>
  </body>
</html>
